:root {
  --primary-color: #055a05; /* forest green */
  --secondary-color: white;
  --accent1-color: #264653; /* dark slate blue */
  --accent2-color: #333;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
  --border-default: 1px solid rgb(0 0 0 / 0.2);
  --padding: 0.5em 1em;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    background-color: var(--primary-color);
    color: white;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: center;
}
nav ul {
    margin: 1em;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border: var(--border-default);
}
nav li {
    background-color: white;
    border: var(--border-default);
    padding: var(--padding);
    text-align: center;
    width: 100%;
}
nav a {
    text-decoration: none;
    color: var(--accent1-color);
    background-color: white;
}
h1, h2 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p, section, article {
    padding: var(--padding);
}
section p {
    color: var(--accent1-color);
}
footer {
    color: var(--accent2-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

/* Class rules */
.logo {
    width: 10em;
    height: auto;
    padding: var(--padding);
    margin: 0 auto;
}

.socialmedia {
    display: flex;
    justify-content: center;
    padding: var(--padding);
}
.socialmedia a {
    text-decoration: none;
}
.socialmedia img {
    width: 5em;
    height: auto;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: var(--padding);
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}
.hero article {
    position: absolute;
    top: 65%;
    width: 100%;
    margin: 0;
    padding: var(--padding);
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}
.hero article img {
  float: right;
  width: 100px;
  height: auto;
  padding: var(--padding);
}

#history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
}
#history img {
    width: 200px;
}

#adventures div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#adventures figure {
    text-align: center;
    margin: 2px;
}
#adventures img {
    max-width: 100%;
    height: auto;
}