:root {
  --primary-color: #055a05; /* forest green */
  --secondary-color: #fff;
  --accent1-color: #006; /* dark navy */
  --accent2-color: #264653; /* dark slate blue */
  --box-bg-color: #eee;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
  --border-default: 1px solid rgb(0 0 0 / 20%);
  --padding: 0.5em 1em;
  --form-text: #000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: center;
}
nav ul {
    margin: 1em;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border: var(--border-default);
    background-color: white;
    border-radius: 0.2em;
}
nav li {
    color: var(--accent1-color);
    border: var(--border-default);
    padding: var(--padding);
    text-align: center;
    width: 100%;
}
nav a {
    color: var(--accent1-color);
    text-decoration: none;
}
h1, h2 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    margin-bottom: 0.5rem;
}
section, article, aside {
    padding: var(--padding);
    margin: 0 0 1rem;
}
section p {
    color: var(--accent2-color);
    padding: var(--padding);
}
form textarea {
    display: block;
    width: 100%;
    height: 4rem;
    margin-top: 0.5em;
}
form p {
    width: 25%;
    margin: 1rem 0;
    padding: 0;
    color: var(--form-text);
}
form button {
    display: block;
    height: 2em;
    width: 100%;
    border: var(--border-default);
    border-radius: 0.3rem;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}
aside figure {
    text-align: center;
    margin: 2px;
}
figure img {
    max-width: 100%;
    height: auto;
    padding: 0.5rem;
}
footer {
    color: var(--accent2-color);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
}

/* Class rules */
.logo {
    width: 10em;
    height: auto;
    padding: var(--padding);
    margin: 0 auto;
}
.box-standard {
    border: var(--border-default);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--box-bg-color);
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: var(--padding);
    text-align: center;
    opacity: 80%;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}
.hero article {
    position: absolute;
    top: 75%;
    width: 100%;
    margin: 0;
    padding: var(--padding);
    text-align: center;
    opacity: 70%;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}
.hero article img {
  float: right;
  width: 100px;
  height: auto;
  padding: var(--padding);
}
.contact-info{
    margin-bottom: 1rem;
}
.contact-info p {
    text-align: center;
    padding: 0;
}
.map {
    width: 95%;
    height: 100%;
    border: var(--border-default);
    border-radius: 0.5em;
}
.columns-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.columns-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.columns-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.socialmedia {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--padding);
}
.socialmedia a {
    text-decoration: none;
}
.socialmedia img {
    width: 3em;
    height: auto;
}
.form-columns {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.form-toggle {
    display: grid;
    grid-template-columns: 1.5rem auto;
    align-items: center;
    justify-items: start;
}
.form-item {
    margin-bottom: 0.5em;
}

#history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
}
#history img {
    width: 200px;
}