:root {
    --border-1px: 1px solid rgb(0 0 0 / 0.2);
    --box-shadow: 0 0 30px gray;
    --main-accent: darkblue;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: var(--main-accent);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
main {
    max-width: 840px;
    margin: 1rem;
}
h1 {
    color: var(--main-accent);
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border-1px);
    padding: 2px;
    box-shadow: var(--box-shadow);
}
p {
    padding: 0;
}
aside {
    width: 20rem;
    text-align: center;
    position: relative;
}
aside h2 {
    position: absolute;
    top: 20px;
    left: 100px;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 10px;
    border-top: 1px solid #333;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border-1px);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}